[user]
    email = nikola.borisof@gmail.com
    name = Nikola Borisov
    signingkey = 620DA666D85B1100
[push]
    default = current
[credential]
    helper = cache --timeout=3600000
[pager]
    branch = false

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

